@page
@model odetofood.Pages.R2.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resturaunts</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resturaunts.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resturaunts.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resturaunts.location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resturaunts.location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resturaunts.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resturaunts.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Resturaunts.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
